<div class="footer">
    &copy; PhyAAt <a href="/index">Home</a>
   <span style="padding-left: 5ex;">
   <a href="/index.rst.txt"
    rel="nofollow">Extras</a>
   </span>
 </div>

 </div>

 <div class="clearer"></div>
 <div class="container index-upper" >
 <div class="row-fluid">
 <div>
 <span style="padding-left: 5ex;"><big><a>Collabration</a></big></span>
 <a class="reference internal" href="authors.html#institutions" style="text-decoration: none; white-space: nowrap" >
 <span style="padding-left: 5ex;">
 <img id="index-funding-logo-big" src="{{ "/assets/logos/elios-logo.png" | relative_url }}" title="elioslab" style="max-height: 36px">
 </span>
 <span style="padding-left: 5ex;">
 <img id="index-funding-logo-small" src="{{ "/assets/logos/unige-logo.png" | relative_url }}" title="University of Genoa" style="max-height: 42px">
 </span>
 <span style="padding-left: 5ex;">
 <img id="index-funding-logo-small" src="{{ "/assets/logos/ice-logo.png" | relative_url }}" title="ICE" style="max-height: 42px">
 </span>
 <span style="padding-left: 5ex;">
 <img id="index-funding-logo-small" src="{{ "/assets/logos/cis-logo.png" | relative_url }}" title="Center for Intelligent Sensing" style="max-height: 36px">
 </span>
 <span style="padding-left: 5ex;">
 <img id="index-funding-logo-small" src="{{ "/assets/logos/qmul-logo.png" | relative_url }}" title="Queen Mary University of London" style="max-height: 36px">
 </span>

 </a>
 <span style="padding-left: 10ex;">
 <a class="reference internal" href="/authors#institutions">More information</a>
 </span>
 </div>
 </div>
 </div>
