<div id="logo-banner">
    <div class="logo">
    <a href="#"><img src="{{ "/assets/logos/AdAtt_logo2.png" | relative_url }}" alt="AudAtenn logo"  border="0" /></a>
    </div>
    <div class="tags">
    <ul>
    <li><big><a href="/dataset">Dataset</a></big></li>
    <li><big><a href="/analysis/dwt_wavelet">DWT</a></big></li>
    <li><big><a href="/examples/index">Examples        </a></big></li>
    <li><big><a href="/algorithms/ica_algo">ICA</a></big></li>
    <li><big><a href="/algorithms/artifact_algo">Artifact Removal</a></big></li>
    <li><big><a href="/analysis/cwt_wavelet">CWT</a></big></li>
    </ul>
    </div>
    <div class="banner">
    <h1>Physiology of Auditory Attention (PhyAAt):</h1>
    <h2>Predictive analysis with physiological signals</h2>
    </div>
  </div>

  <div class=related-wrapper>
  <div class="related" role="navigation" aria-label="related navigation">
  <ul>
  <li><a href="#">Home</a> |&nbsp;</li>
  <li><a href="/experiment">Experiment paradigm</a> |&nbsp;</li>
  <li><a href="/dataset">Dataset</a> |&nbsp;</li>
  <li><a href="/algorithms">Algorithms</a> |&nbsp;</li>
  <li><a href="/analysis">Analysis</a> |&nbsp;</li>
  <li><a href="/modeling">Predictive modeling</a> |&nbsp;</li>
  <!--<li><a href="/examples/index">Examples</a> |&nbsp;</li> -->
  <li><a href="/authors">Authors</a> |&nbsp;</li>
  </ul>
  </div>
  </div>
