<div id="logo-banner">
    <div class="logo">
    <a href="#"><img src="{{ "/assets/logos/AdAtt_logo2.png" | relative_url }}" alt="AudAtenn logo"  border="0" /></a>
    </div>
    <div class="tags">
    <ul>
    <li><big><a href="{{"/dataset"| relative_url }}">Dataset</a></big></li>
    <li><big><a href="{{"/analysis/dwt_wavelet"| relative_url }}">DWT</a></big></li>
    <li><big><a href="{{"/modeling"| relative_url }}">Examples        </a></big></li>
    <li><big><a href="{{"/algorithms/ica_algo"| relative_url }}">ICA</a></big></li>
    <li><big><a href="{{"/algorithms/artifact_algo"| relative_url }}">Artifact Removal</a></big></li>
    <li><big><a href="{{"/analysis/cwt_wavelet"| relative_url }}">CWT</a></big></li>
    </ul>
    </div>
    <div class="banner">
    <h1>Physiology of Auditory Attention (PhyAAt):</h1>
    <h2>Predictive analysis with physiological signals</h2>
    </div>
  </div>

  <div class=related-wrapper>
  <div class="related" role="navigation" aria-label="related navigation">
  <ul>
  <li><a href="{{"#" | relative_url }}">Home</a> |&nbsp;</li>
  <li><a href="{{"/experiment" | relative_url }}">Experiment paradigm</a> |&nbsp;</li>
  <li><a href="{{"/dataset"| relative_url }}">Dataset</a> |&nbsp;</li>
  <li><a href="{{"/algorithms"| relative_url }}">Algorithms</a> |&nbsp;</li>
  <li><a href="{{"/analysis"| relative_url }}">Analysis</a> |&nbsp;</li>
  <li><a href="{{"/modeling"| relative_url }}">Predictive modeling</a> |&nbsp;</li>
  <!--<li><a href="/examples/index">Examples</a> |&nbsp;</li> -->
  <li><a href="{{"/authors"| relative_url }}">Authors & Publications</a> |&nbsp;</li>
  <li><a href="https://github.com/Nikeshbajaj/phyaat/discussions">Discussion Forum</a> |&nbsp;</li>
  </ul>
  </div>
  </div>
